[submodule "neobundle.vim.git"]
	path = vim/vimfiles/neobundle.vim.git
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "vim/vimfiles/vimproc"]
	path = vim/vimfiles/vimproc
	url = git://github.com/Shougo/vimproc.git
